# phpMussel .gitattributes file.
# phpMussel repository can be found here:
# https://github.com/phpMussel/phpMussel/

# Refer to:
# https://help.github.com/articles/dealing-with-line-endings/

* text eol=lf

# Refer to:
# https://github.com/github/linguist

*.md linguist-documentation
*.txt linguist-documentation
