# phpMussel .gitattributes file.
# phpMussel repository can be found here:
# https://github.com/phpMussel/phpMussel/

# Refer to:
# https://help.github.com/articles/dealing-with-line-endings/

* text eol=lf
*.ini text eol=crlf
*.renameme text eol=crlf
*.RenameMe text eol=crlf
*.dat binary
*.exe binary
*.gif binary
*.gz binary
*.jpeg binary
*.jpg binary
*.ole binary
*.pdf binary
*.png binary
*.rar binary
*.rtf binary
*.swf binary
*.tar binary
*.xdp binary
*.zip binary

# Refer to:
# https://github.com/github/linguist

*.md linguist-documentation
*.txt linguist-documentation
components.dat linguist-language=YAML
plugins.dat linguist-language=YAML
themes.dat linguist-language=YAML
config.ini.RenameMe linguist-language=INI
