dist: trusty

language: php

php:
 - '7.2'
 - '7.3'

before_script:
 - phpenv config-rm xdebug.ini || true
 - if [ $(phpenv version-name) != "5.4" ]; then composer install; fi

script:
 - if [ $(phpenv version-name) != "5.4" ]; then vendor/bin/codecept build; fi
 - if [ $(phpenv version-name) != "5.4" ]; then vendor/bin/codecept run --steps; fi

notifications:
 email: false
