*{vertical-align:text-top}
body,input,select,textarea,.idx{font-size:calc(12px * {Magnification})}
body{font-family:'Open Sans',sans-serif,'Lucida Grande',Tahoma,Verdana,Arial,MingLiU;letter-spacing:1px;text-decoration:none;border-style:none;margin:0;padding:0;white-space:normal;background-color:#ccc;color:#033}
code{font-family:'Space Mono',monospace}
hr{border-style:solid none none;border-width:1px;margin:5px 2px 0;padding:2px;color:#900}
img.ico{width:16px;height:16px;border:0}
input,select,textarea{background-color:#ffe;border:1px solid #900;color:#033;margin:2px;padding:2px}
input,select{width:150px;background-position:top {FE_Align_Reverse}}
input.auto,select.auto{width:auto;padding-left:10px;padding-right:10px}
input[type=image]{width:inherit;border:inherit}
input[type=password]{background-image:url(data:image/gif;base64,{PIP_Key})}
input[type=text]{background-image:url(data:image/gif;base64,{PIP_Input})}
table,.spanner{width:100%}
textarea.half{height:75px}
textarea{height:150px}
a:link,a:visited{color:#238}
a:hover{color:#46f}
a:active,a:focus{color:red}
.bNav,.gen,.nav,.s,.tip,.txtGn,.txtOe,.txtRd,.spanner,a,input,select,textarea{font-weight:700}
.bNav,.gen,.spanner{text-align:{FE_Align_Reverse}}
.bNav{height:64px}
.ci,.co,.gen,.center{margin:auto}
.ci,.co,.ng1,.ng2,textarea{width:98%}
.ci{background-color:#fff;border-style:solid;border-width:1px;border-color:#aaa;text-align:{FE_Align};padding:12px}
.co,body,.center{text-align:center}
.co{padding:12}
.dt,.s,.tip,.txtBl,.txtGn,.txtOe,.txtRd{display:inline}
.dt,.tip{float:{FE_Align};text-align:{FE_Align};width:80%}
.gen,input,select,textarea{font-family:'Open Sans',sans-serif,Verdana,Arial,Helvetica}
.gen{letter-spacing:0px;white-space:nowrap}
.h1,.h1f,.h2,.h2f,.h3,.h3f,.h4,.h4f,.ng1,.ng2,.r,.rf,.spanner{margin:0;padding:4px;border-style:{Half_Border};border-width:1px;border-color:#999}
.h1,.h1f,.h2,.h2f,.r,.rf{width:25%}
.h1,.h3,.spanner{background-color:#eee}
.h2,.h4,code{background-color:#ddd}
.h3,.h3f,.h4,.h4f{width:50%}
.icon48x48,input,select{background-repeat:no-repeat}
.icon48x48{background-image:url(data:image/jpeg;base64,/9j/4AAQSkZJRgABAgEAAAAAAAD/7gAOQWRvYmUAZAAAAAAB/9sAQwAGBAQEBQQGBQUGCQYFBgkLCAYGCAsMCgoLCgoMEAwMDAwMDBAMDg8QDw4MExMUFBMTHBsbGxwfHx8fHx8fHx8f/9sAQwEHBwcNDA0YEBAYGhURFRofHx8fHx8fHx8fHx8fHx8fHx8fHx8fHx8fHx8fHx8fHx8fHx8fHx8fHx8fHx8fHx8f/8IAEQgAMAAwAwERAAIRAQMRAf/EABsAAAIDAAMAAAAAAAAAAAAAAAUHAgQGAAED/8QAJBAAAgICAQIHAQAAAAAAAAAAAgMBBAAFEVASECEyExQ0FQb/xAAVAQEBAAAAAAAAAAAAAAAAAAAAAf/EAC8RAAECBQEFBwQDAAAAAAAAAAECAwARITESBBBRYYEiQZGxMlJyE6HB4WIjM3P/xAAUEgEAAAAAAAAAAAAAAAAAAABQ/8QAJxMBAAICAQMEAwADAQAAAAAAAREhADFBUWFxEIGRsVChwSAwQOH/2gAMAwEAAhADEAAAAWoRFWADcm8KhSFWWgaPEEEEW6gjWoz1GHSLFapvzUHkUEDLiRpBw4QKZbBgXP/aAAgBAQABBQLCKBjb7a+Vgb+wCdN/RE9uOtITLrVN6djfm2Xzan5YVTKqE8hZ+2wBnN1AjdwgIFpaDU2/Kyfq24si3rw7revrcoqJ9mtdWRLASszfot2S6okt2vOTDwKeIqIhWEtZSsOy3n//2gAIAQIAAQUC6J//2gAIAQMAAQUC6J//2gAIAQICBj8CE//aAAgBAwIGPwIT/9oACAEBAQY/AomTIC5hTYK9O0PKmqSRvPbWMm9S4k+6Y7jA0usAS8r+twWV+dgDipTtQnwhSA6OdLV4Q30fGlpOCROZ5mDp8JvGWPSOnecr1hepFCyQpB4i/wBDCSbkQP8AP7wAROClNAANjelABccBU8hIuB4UEIdR5VgEc4QfUkjuMGM1WcGaPbCNyeo8oc1Sul7VTxVfFvshtr0JAgKTVbZyA37xFAQ0fMo0nwEOuIImwtSGG+CaGvGHW3JtrwUmRpWPgeSAtlKCnH0kU2zvC5CQWrI3qTc1iakgkWJEOvmf8nSQf1tLZ//aAAgBAQMBPyHEphSlAYuoKzhjV9GeZmpvMo50/wCTfonHonxb9A8HAGFJLWUN9R1ylIslEdWFy1u0QiGRF4cPjWVXjO5aYOagCnkx19Pt/wCcgnAck7vBgKEd8BWDbmjvEYTM8uxn6kKxOCW0N5B/uP236xSMH8qQ+s7tJehbHVoaEumOZrBP1I60c98FOgGxr3BxXI0mYP66XA7CIBK/KFZMwLE+UPTXODLrgD5cSIcAADRR6O4JdN/WD34mVtQpiemCNHAU+cFzMEFEJkYum79P/9oACAECAwE/Ifwn/9oACAEDAwE/Ifwn/9oADAMBAAIRAxEAABCRISDJBdLjNZSNaCSST//aAAgBAQMBPxDEvKRANquK3kMPksIFhw+cHjEMNxqcb2yhxlXOa3dqehzjKzIEoUPB3zhm/wAQ4gttgUHojnn+ojEK65/auEu0nSrtS8RWmFFnzVCkcbPMZ2cl8gpzhNiUe2AELahCTLfkPbEDhvAiXAASkB3cghtnBpJFiSQmWMnVvshCAThJxNko8K+P1wptCHtT+Z5QdRUvmeJPC6BQcmki4h4w9Y8MKgvDJjiGocbVRCJPIOFt74p8LgCi7qjuGAUxCCMpML4A8xgHRJ0TPXNnRAVa2xdDT2jhLhi9PBOjIuziMaamA24IA4Cj0amMAB2QmLVvJGpAo5Wg2k9ms635gSaQpeIpxsgEWEPIL09P/9oACAECAwE/EP8AYf5H/F//2gAIAQMDAT8Q/Cf/2Q==);background-position:center;width:48px;height:48px;margin:auto}
.nav{font-size:calc(14px * {Magnification});width:20%}
.ng1,.h1f,.h3f{background:linear-gradient({Gradient_Degree}deg,#eee,#ccc)}
.ng2,.h2f,.h4f{background:linear-gradient({Gradient_Degree}deg,#ddd,#bbb)}
.r{background-color:#fda}
.rf{background:linear-gradient({Gradient_Degree}deg,#fda,#fa6)}
.right{padding:20px;width:80%}
.branchline{border-style:none none solid none;border-width:1px;border-color:#900}
.txtBl{color:#000}
.txtGn{color:#090}
.txtOe{color:#f60}
.txtRd{color:red}
.ufts{width:220px}
.vr{float:{FE_Align};width:1px;height:inherit;background-color:#900}
@keyframes idxAn{0%{background:#fa6}100%{background:#ddd}}
.mob{display:none}
a[href="?phpmussel-page=logout"]{padding-left:10px;background-image:url(data:image/gif;base64,{PIP_Key});background-repeat:no-repeat;background-position:0% 50%}
a[href="?phpmussel-page=logout"]:hover,a[href="?phpmussel-page=logout"]:active,a[href="?phpmussel-page=logout"]:focus{background-image:url(data:image/gif;base64,{PIP_Key2})}
@media only all and (max-width:640px) {
  .big,.dt{display:none}
  .mob{display:block}
  .tip,.bNav,.gen{float:none;height:auto;text-align:center}
  .ufts{width:auto}
  .h1,.h1f,.h2,.h2f,.r,.rf{width:50%}
  .extend{width:100%}
}
